.margin5-10 {
    margin-top: 5px;
    margin-left: 10px;
}

.marginl20 {
    margin-left: 30px !important;
}

.marginl-20 {
    margin-left: -20px;
}

.left-round-border {
    border-radius: 10px 0px 0px 10px;
}

.right-round-border {
    border-radius: 0px 10px 10px 0px;
}

.posfixed {
    position: fixed !important;
}

.margin-form {
    margin-left: 10px;
}

.ratakiri {
    text-align: left !important;
}

.mini-btn {
    border: 1px !important;
    margin: 0px !important;
    padding: 3px 8px !important;
}

.headerno,
.header {
    font-weight: bold;
    color: #333 !important;
}

.headerno {
    width: 40px !important;
}

.notabel,
.isitabel {
    color: #333 !important;
    vertical-align: middle !important;
}

.notabel {
    text-align: right;
}

.bgred {
    background-image: linear-gradient(90deg, #b30000, #ff0000) !important;
    opacity: 0.7;
}

.bgred2 {
    background-image: linear-gradient(90deg, #230000, #ff0000) !important;
    opacity: 0.8;
}

.bgblue {
    background-image: linear-gradient(90deg, #010198, #0101fe) !important;
    opacity: 0.7;
}

.bglblue {
    background: #00C6D7 !important;
    color: #fff !important;
    font-size: 1em;
    outline: none;
    border: none;
    opacity: 0.9;
}

.bgblue2{
    background-image: linear-gradient(90deg, #000019, #0101fe) !important;
    opacity: 0.8;
}

.bggreen {
    background-image: linear-gradient(90deg, #009903, #00ff06) !important;
    opacity: 0.7;
}

.bggreen2 {
    background-image: linear-gradient(90deg, #003e01, #00ff06) !important;
    opacity: 0.9;
}

.bgyellow {
    background-image: linear-gradient(90deg, #b3b300, #ffff00) !important;
    opacity: 0.7;
}

.bgyellow2 {
    background-image: linear-gradient(90deg, #000000, #ffff00) !important;
    opacity: 0.9;
}

.bgorange {
    background-image: linear-gradient(90deg, #b34700, #ff6600) !important;
    opacity: 0.7;
}

.bgorange2 {
    background-image: linear-gradient(90deg, #880000, #ff6600) !important;
    opacity: 0.9;
}

.bgdisable {
    background-color: #f5f0f0;
    color: black !important;
}

.bgdisable:hover {
    background-color: #e4dddd;
    font-weight: bold;
}

.bgdisable:active {
    cursor: no-drop;
}

.header-modal{
    margin-top: 0px; 
    margin-bottom: 20px;
}

.hover:hover{
    opacity: 1;
    color: #fff;
}

div.dashboard{
	border-width: 1px; 
	border-style: solid; 
	border-radius: 5px; 
	padding: 10px 0px;
	transition: 0.5s ease;
}

.dashboard-detail{
	color: white; 
	padding: 0px; 
	margin: 0px;
	opacity: 0;
	visibility: hidden;
	display: none;
	transition: 1s ease;
}

.dashboard:hover{
	opacity: 1;
}

.dashboard:hover .dashboard-detail{
	opacity: 1;
	visibility: visible;
	display: block;
}

tr.tabel:hover {
    background-color: #ccccff !important;
}

a:hover {
    opacity: 1;
}

.row-one,
.row-two,
.row-three {
    margin-bottom: 20px;
    display: block;
}

.inner-tittle,
.two,
.graph,
.grid-1,
.login-pegawai,
.dataTables_wrapper {
    margin-left: 30px!important;
}

.lihat-data{
    text-align: left!important;
}

.tombol-back{
    padding:6px 12px!important;
}

.invicible{
    visibility: hidden; 
    height: 0; 
    border:0; 
    padding:0;
}

@media (min-width: 768px){
    .col-sm-3_5{
        width: 32.83%;
        float: left;
        position: relative;
        min-height: 1px;
    }
}

.konten-modal{
    padding-left: 30px!important;
    padding-right: 0px!important;
}

/*ALERT*/
.alert1{
    position: absolute;
    z-index: 1;
    left: 50%;
    color: #3c763d;
    background-color: #dff0d8;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    animation-name: myAnimation;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}
.alert2{
    position: absolute;
    z-index: 1;
    top: 40px;
    left: 115px;
    color: #763c3c !important;
    background-color: #f0d8da;
    margin: 0;
    padding: 10px;
    border-radius: 5px;
    animation-name: myAnimation;
    animation-duration: 3000ms;
    animation-fill-mode: forwards;
}
.alert-text{
    margin:0;
    padding:0;
    border:0;
    font-weight: bold;
}
@keyframes myAnimation{
    0%{
        opacity: 1;
        transform: rotateX(90deg);
    }
    15%{
        opacity: 1;
        transform: rotateX(0deg);
    }
    50%{
        opacity: 1;
        transform: rotateX(0deg);
    }
    85%{
        opacity: 0.7;
        transform: rotateX(0deg);
    }
    100%{
        display: none;
        opacity: 0;
        transform: rotateX(90deg);
    }
}